[submodule "SLEngine/vendor/spdlog"]
	path = SLEngine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "SLEngine/vendor/GLFW"]
	path = SLEngine/vendor/GLFW
	url = https://github.com/TheCherno/glfw.git
[submodule "SLEngine/vendor/imgui"]
	path = SLEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
[submodule "SLEngine/vendor/glm"]
	path = SLEngine/vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "SLEngine/vendor/yaml-cpp"]
	path = SLEngine/vendor/yaml-cpp
	url = https://github.com/TheCherno/yaml-cpp
[submodule "SLEngine/vendor/ImGuizmo"]
	path = SLEngine/vendor/ImGuizmo
	url = https://github.com/TheCherno/ImGuizmo
[submodule "SLEngine/vendor/Box2D"]
	path = SLEngine/vendor/Box2D
	url = https://github.com/thecherno/box2d
