# Binaries
**/bin/
bin-int/

# SLEngine files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

# Directories
SLEngine/vendor/VulkanSDK
Editor/assets/cache
scripts/__pycache__
SLEngine/vendor/yaml-cpp
