# Binaries
**/bin/
bin-int/
Intermediates/

# SLEngine files
*.log

# Visual Studio files and folder
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

# Directories
SLEngine/vendor/VulkanSDK
Editor/assets/cache
scripts/__pycache__
